@mixin seach {
  form {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    flex-grow: 5;

    input {
      border: transparent;
      flex-grow: 1;

      &:focus {
        box-shadow: none;
      }
    }
    i {
      color: $color-primary;
      margin-left: 0 !important;
      padding: 10px 15px;
      cursor: pointer;
      transition: 0.5s;
      background-color: #ffffff;
      &:hover {
        background-color: $color-primary;
        color: $color-secondary;
      }
    }
  }
}

// @mixin detal-before {
//   content: "";
//   position: absolute;
//   top: -25px;
//   left: -50px;
//   font-size: 3rem;
//   display: block;
// }
@mixin border-after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $color-border-active;
}
// mixin border-item
@mixin border-item {
  border: 1px solid #cccccc;
  padding-bottom: $padding-y;
}
@mixin item {
  .item {
    @include border-item;
    img {
      width: 100%;
      display: block;
    }
    .browse-detail {
      padding: 0 $padding-x;
      border-top: 1px solid #d3d2d2;
    }
    .browse-detail p {
      font-size: 0.825rem;
      color: #4e4d4d;
    }
    .browse-detail h1 {
      font-size: $font-size-h1;
      margin: $margin-x 0;
    }
    .browse-detail .rate i {
      font-size: 0.825rem;
      color: $color-rate;
    }
    .browse-detail .rate span {
      font-size: 0.825rem;
    }
    .browse-detail .rate-number {
      font-weight: $font-weight;
    }
    .price {
      text-align: right;
    }
    .price .price-main {
      font-size: 0.825rem;
      text-decoration: line-through;
    }
    .price .sales {
      font-size: 1.25rem;
      font-weight: $font-weight;
      margin: 0 $margin-x;
    }
  }
}

@mixin button-hover {
  background-color: #992337;
  border-color: transparent;
}
@mixin button {
  font-weight: 700;
}

@mixin responsive-576px {
  .header {
    .navbar {
      .col-xs-10 {
        width: 300%;
      }
    }
    .header__right {
      .btn {
        margin-bottom: 1rem;
      }
    }
  }
  .carousel {
    .container {
      .row {
        margin-left: 0;
      }
      .col-6 {
        margin: 0 auto;
      }
    }
  }
  .browse {
    .container {
      .col-left {
        display: none;
      }
      .col-details {
        max-width: 100% !important;
        .row {
          flex-direction: column;
          .col-list {
            max-width: 100%;
          }
        }
      }
    }
  }
  .student-cart {
    .row {
      .col-6 {
        .info {
          .btn {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
  .technology {
    .container-fluid {
      .icon-top {
        display: none;
      }
      .icon-bottom {
        display: none;
      }
      .icon-left {
        display: none;
      }
      .icon-right {
        display: none;
      }
      .details {
        .btn {
          font-size: 0.625rem;
        }
      }
    }
  }
  .work {
    .container {
      .row {
        flex-direction: column;
        .col-4 {
          max-width: 100%;
          .item {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            border-bottom: 1px solid #cccccc;
            i {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  .slick {
    .container {
      text-align: center;
      flex-wrap: wrap;
      .col-lg-4 {
        max-width: 100%;
        flex-wrap: wrap;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .testimonials {
    .row {
      .item-none {
        display: none;
      }
    }
  }
  .student-view {
    .container {
      .rows {
        flex-direction: column;
        .col {
          width: 100%;
          .item {
            width: 100%;
          }
        }
      }
    }
  }
  .contact {
    .contact-list {
      width: 100%;
    }
  }
  .footer {
    .container-fluid {
      flex-direction: column;
    }
  }
}
@mixin responsive-768px {
  .header {
    .navbar {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      .categories {
        display: none;
      }
    }
    .header__right {
      .btn {
        margin-bottom: 1rem;
      }
    }
  }
  .carousel {
    .container {
      .col-xs-6 {
        max-width: 350px;
      }
    }
  }
  .browse {
    .container {
      .col-left {
        display: none;
      }
      .col-details {
        max-width: 100% !important;
        .row {
          flex-direction: column;
          .col-list {
            max-width: 100%;
          }
        }
      }
    }
  }
  .student-cart {
    .row {
      .col-6 {
        .info {
          .btn {
            font-size: 0.625rem;
          }
        }
      }
    }
  }
  .technology {
    .container-fluid {
      .icon-top {
        display: none;
      }
      .icon-bottom {
        display: none;
      }
      .icon-left {
        display: none;
      }
      .icon-right {
        display: none;
      }
      .details {
        .btn {
          font-size: 0.625rem;
        }
      }
    }
  }
  .work {
    .container {
      .row {
        flex-direction: column;
        .col-4 {
          max-width: 100%;
          .item {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            border-bottom: 1px solid #cccccc;
            i {
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  .slick {
    .container {
      text-align: center;
      flex-wrap: wrap;
      .col-lg-4 {
        max-width: 100%;
        flex-wrap: wrap;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .testimonials {
    .row {
      .item-none {
        display: none;
      }
    }
  }
  .student-view {
    .container {
      .rows {
        flex-direction: column;
        .col {
          width: 100%;
          .item {
            width: 100%;
          }
        }
      }
    }
  }
  .contact {
    .contact-list {
      width: 100%;
    }
  }
  .footer {
    .container-fluid {
      flex-direction: column;
    }
  }
}
