$color-primary: #ec5252;
$color-secondary: #ffffff;
$bgcolor: #b83b52;
$color-border-active: #007791;
$color-rate: #f4c150;
// font
$font-size-h1: 1.125rem;
$font-size-p: 0.8rem;
$font-weight: 600;

// padding
$padding-x: 0.625rem;
$padding-y: 0.625rem;

// margin

$margin-x: 0.625rem;
$margin-y: 0.625rem;
